@model DnDProject.Entities.Character.ViewModels.PartialViewModels.Components.foundItemCM

<div class="card">
    <div class="card-body">
        @Html.Hidden($"foundItem_id",Model.Item_id)
        <button class="btn stretched-link foundItemDetailsButton">@Model.Name</button>
    </div>
</div>