@model DnDProject.Entities.Character.ViewModels.PartialViewModels.Components.SpellDetailsCM

<div class="card">
    @Html.Partial("~/Views/Character/PartialViews/ComponentViews/SpellDetailsCV.cshtml",Model)
    <button class="btn btn-success learnSpellButton">Learn Spell</button>
</div>