@model DnDProject.Entities.Character.ViewModels.PartialViewModels.Components.ItemDetailsCM


<div class="card-title">
    @Model.Name
</div>
<div class="card-body">
    <div class="card-subtitle mb-1 text-muted">

        <div class="form-row">
            <i>
                Consumable : @if (Model.isConsumable)
                {
                    <i class="bi-check" style="color: forestgreen"></i>
                }
                else
                {
                    <i class="bi-x" style="color: firebrick"></i>
                }
            </i>
            <i>
                Equippable : @if (Model.isEquippable)
                {
                    <i class="bi-check" style="color: forestgreen"></i>
                }
                else
                {
                    <i class="bi-x" style="color: firebrick"></i>
                }
            </i>
            <i>
                Requires Attunement : @if (Model.requiresAttunement)
                {
                    <i class="bi-check" style="color: forestgreen"></i>
                }
                else
                {
                    <i class="bi-x" style="color: firebrick"></i>
                }
            </i>
        </div>
        <div class="form-row">
            @foreach (string tag in Model.Tags)
            {
                if (Model.Tags.Last() != tag)
                {
                    <i>@tag, </i>
                }
                else
                {
                    <i>@tag</i>
                }
            }
        </div>
    </div>

    <div class="card-subtitle mb-1 text-muted">
        <i>Value : @Model.Value Gold Pieces</i>
    </div>
    <div class="card-text">
        @Model.Description
    </div>
</div>
