    <!--Text box-->
<div class="form-row">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Item lookup text input box" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="itemSearchSubmit" aria-label="Item lookup submit search button">Search!</button>
        </div>
    </div>
</div>
<!--Radio buttons-->
<div class="form-row">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="GetItemsBy" id="GetItemByName" value="Name" aria-label="Radio Button. Get Items By Name Containing search text" />
        <label class="form-check-label" for="GetItemByName">Name</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="GetItemsBy" id="GetItemByDescription" value="Description" aria-label="Radio Button. Get Items By Description containing search text" />
        <label class="form-check-label" for="GetItemByDescription">Description</label>
    </div>
</div>

