<div id="itemSearchSideNav" class="slidenav">
    <div class="form-row" id="itemSearchQueryDiv">
        @Html.Partial("~/Views/Character/PartialViews/ComponentViews/ItemSearchQueryCV.cshtml")
    </div>
    <div class="form-row" id="itemSearchResultsDiv">
        Search for an item!
    </div>
</div>