<div id="spellSearchSideNav" class="sidenav">
    <div class="form-row" id="spellSearchQueryDiv">
        @Html.Partial("~/Views/Character/PartialViews/ComponentViews/SpellSearchQueryCV.cshtml")
    </div>
    <div class="form-row" id="spellSearchResultsDiv">
        Search for a spell!
    </div>
</div>
